<div class="main">
  <div id="product-filter">
    <div class="filter-label">尋找</div>
    <div class="filter-group">
      <div class="filter-select">
        全部
      </div>
      <ul class="filter-item">
        <li data-filter="*" class="active">全部</li>
      </ul>
    </div>
  </div>
  <div id="products">
    <ul class="content">
      <% obj.each do |merchandise| %>
        <li class="product-list">
          <%= link_to merchandise_path(merchandise) do %>
            <%= image_tag merchandise.image_1.url(:medium), class: "product-img" %>
            <div class="product-info">
              <%= content_tag :p, merchandise.title , :class => "name" %>
              <%= content_tag :p, "$#{merchandise.price}", :class => "price" %>
            </div>
          <% end %>
          <div class="mask">
              <div class="addToCart">
                  <a href="javascrpt:;">view</a>
              </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>