<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<h4 align="center">
<% if @user.avatar? %>
    <%= image_tag @user.avatar.url(:medium) %>
<% end %>
<br />
<%= @user.username %>'s merchandises
</h4>
<%= render 'merchandises/merchandise', obj: @user.merchandises %>
