<h1 align="center">Listing All Categories</h1>
<% @categories.each do |category| %>
    <ul class="listing">
        <li class="merchandise-title">
            <%= link_to "#{category.name}", category_path(category) %>
            <% category.subcategories.each do |subcategory| %>
            <ul>
                <li class="merchandise-title">
                <%= link_to "#{subcategory.name}", category_path(subcategory) %>
                </li>
            </ul>
            <% end %>
        </li>
    </ul>
<% end %>