<div class="category-area">
  <div class="category-content">
    <ul class="category">
      <li>
        <a class="title" href="javascript:;">
          Select a category <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="sub">
          <li class="clothing">
            <a href="javascript:;">clothing</a>
          </li>
          <li class="lifestyle">
            <a href="javascript:;">lifestyle</a>
          </li>
          <li class="prints">
            <a href="javascript:;">prints</a>
          </li>
          <li class="kids">
            <a href="javascript:;">kids</a>
          </li>
          <li class="sale">
            <a href="javascript:;">sale</a>
          </li>
          <li class="gift-guides">
            <a href="javascript:;">gift guides</a>
          </li>
        </ul>
      </li>
      <!-- <li class="category-sub">
        <a class="title" href="javascript:;">
          all <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="sub">
          <li class="clothing">
            <a href="javascript:;">clothing</a>
          </li>
          <li class="lifestyle">
            <a href="javascript:;">lifestyle</a>
          </li>
          <li class="prints">
            <a href="javascript:;">prints</a>
          </li>
          <li class="kids">
            <a href="javascript:;">kids</a>
          </li>
          <li class="sale">
            <a href="javascript:;">sale</a>
          </li>
          <li class="gift-guides">
            <a href="javascript:;">gift guides</a>
          </li>
        </ul>
      </li> -->
    </ul>
    <form class="inputbox">
      <input required="required"/>
      <button type="reset" class="del"></button>
    </form>
  </div>
</div>