<div class="footer">
  <div class="share">
    <a href="javascript:;">
      Refer a friend &amp; Get $15&nbsp;&nbsp;
      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    </a>
  </div>
  <div class="copyright">
    <div>© Ugmonk, Inc. 2016</div>
    <div>Website layout, design elements, content, and all product designs are the property of Ugmonk, Inc.<br>
      and may not be used for any purpose without express written consent of Ugmonk, Inc.</div>
  </div>
</div>