<div class="footer">
  <div class="share">
    <%= link_to new_user_registration_path do %>
      Sign Up Now!&nbsp;&nbsp;
      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="copyright">
    <div>© RiRiKoKo 2016</div>
    <div>Website layout, design elements, content, and all product designs are the property of RiRiKoKo<br>
      and may not be used for any purpose without express written consent of RiRiKoKo</div>
  </div>
</div>