<div class="header">
  <div class="header-content">
    <div class="nav-btn">
      <div class="hamburger hamburger--elastic">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="logo">
      <a href="/">
        <%= image_tag "logo.png" %>
      </a>
    </div>
    <div class="pc-nav">
      <ul>
        <%= render 'layouts/menu' %>
      </ul>
    </div>
    <div class="cart">
      <a href="javascript:;">
        <i class="fa fa-shopping-cart"></i>
        <span class="name">購物車</span>
      </a>
    </div>
  </div>
</div>